/target/
*.class
.DS_Store
application.pid

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
target
.settings

# Idea
.idea
*.iml

# git
*.orig

*.classpath
*.project

# IDE相关文件忽略（如下是IDEA的）
*.idea
*.iml
.idea

# 编译文件忽略
target/*
.idea/*
/*/bin/*

# 本地环境相关文件忽略
/*/.settings/*
/.settings/

# 自动生成配置文件忽略
/*/__ConfigTemp/*